<!doctype html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <title>@ViewData["Title"]</title>
</head>
 
<body>
  <main class="container">
    @RenderBody()
    <hr />
    <footer>
      <p>Copyright &copy; 2025 - @ViewData["Title"]</p>
    </footer>
    </div>
  </main>
  @RenderSection("Scripts", required: false)
</body>
 
</html>